/* Fonts */
@font-face {
  font-family: "JetBrainsMono-Light";
  src: url("JetBrainsMono-Light.woff2");
}

@font-face {
  font-family: "Barlow-Light";
  src: url("Barlow-Light.woff2");
}

/* Bootstrap Override */
.col-md-auto {
    min-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 10px 0;
    font-family: "JetBrainsMono-Light", "Andale Mono", monospace;
}

h1 a {
    color: #533979;
    text-decoration: none;
}

h1#recent-posts,
#search-content h2 {
    border-bottom: 1px solid #533979;
    color: #533979;
}

.bg-dark {
    background-color: #533979 !important;
}

a {
    text-decoration: none;
    color: #533979;
}

a:hover {
    color: #8B7CBA;
}

#search-results.dropdown-menu.show {
    padding-top: 0;
    padding-bottom: 0;
    width: 95%;
    margin-left: 0.5rem;
}

#search-content .list-group .list-group-item {
    border-top: none;
    border-left: none;
    border-right: none;
}

/* Base */
:root {
    --borderRadius: 4px;
    --mutedTextColor: #8B7CBA;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #E3DEEF;
    color: #2F134B;
}

footer {
    background-color: #533979;
    color: #8B7CBA;
    align-items: center;
    display: flex;
    margin: 15px 0 0 0;
    min-height: 71px;
    padding: 10px;
}

footer #footer-info {
    margin-left: auto;
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
}

footer {
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
    padding-right: 10px;
}

footer a {
    color: #E3DEEF;
}

footer a:hover {
    color: #b253ff;
}

/* Navbar */
.navbar { /* Fix for certain browsers. */
    display: block;
    max-height: 128px;
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
}

.logo {
    max-height: 118px;
}

.logo-size {
    max-width: 80%;
}


img.logo {
    max-width: 95%;
}

#navbarSupportedContent {
  padding-top: 60px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #380070;
    background-image: -moz-linear-gradient(top, #533979, #8B7CBA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#533979), to(#8B7CBA));
    background-image: -webkit-linear-gradient(top, #533979, #8B7CBA);
    background-image: -o-linear-gradient(top, #533979, #8B7CBA);
    background-image: linear-gradient(to bottom, #533979, #8B7CBA);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/* Tags */
h2.tag-name {
    color: #380070;
    border-bottom: 1px solid #E0E0E0;
    margin-left: 25px;
    padding-top: 10px;
}

.list-of-tags {
    list-style: none;
    margin: 10px;
    overflow: hidden;
    padding-left: 20px;
}

.list-of-tags li {
    float: left;
    line-height: 28px;
    margin: 0;
}

.list-of-tags a {
    background: #eee;
    border-radius: var(--borderRadius);
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}

.list-of-tags .selected a {
    background: #d9bffa;
}

.tags-in-article li {
    float: none;
    line-height: 28px;
}

ul.list-articles-under-tag-name {
    list-style: none outside none;
    margin: 0 0 10px 25px;
}

.tags-content.filtered .tag-group.filter-match {
    display: block;
}

.tags-content.filtered .tag-group:not(.filter-match) {
    display: none;
}

.article-title-under-tag-name {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Palatino, URW Palladio L, serif;
}

.article-under-tag-name time {
    font-family: PT Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--mutedTextColor);
    font-size: 0.8rem;
    margin-left: 10px;
}

/* Content */
.content {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

/* Article */
.page-header {
    color: #533979;
    border-bottom: 2px solid #533979;
    font-family: Garamond, serif;
    margin: 10px 0 30px 0;
    width: 100%;
}

.page-header h1 {
    border: none;
    line-height: 1em;
}

.post-info {
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
    color: var(--mutedTextColor);
    font-size: 0.8rem;
}

.post-info a {
    color: #533979;
}

.post-info a:hover,
.article-content a:hover {
    border-bottom: 1px dotted gray;
}

.article-content {
    text-align: left;
    font-size: 1.05rem;
    max-width: 100%;
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
}

.article-content p {
    margin: 0 0 20px 0;
}

.article-content ul:not(.related-posts-list):not(.neighbors) {
    font-size: inherit;
    list-style-type: disc;
}

.article-content ul.related-posts-list {
    list-style-type: square;
}

/* Code */
pre {
    padding: 9px;
}

pre code {
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
    padding: 0;
}

code {
    color: #6900bd;
    padding: 2px 4px;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.code-highlighttable pre {
    margin-bottom: 0;
}

.code-highlight {
    max-width: 100%;
}

.code-highlighttable {
    background-color: #2f1e2e;
}

/* Recent Posts and Search Results */
.recent-post-summary, .search-article-summary {
    font-family: "Barlow-Light", "Gill Sans", sans-serif;
}

ol#posts-list {
    padding-left: 1rem;
    padding-top: 1rem;
}

ol#posts-list .recent-post-summary {
    font-size: 1rem;
    padding-top: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E3DEEF;
}

ol#posts-list .recent-post-summary p {
    margin-bottom: 0;
}

.search-article-summary {
    padding-top: 6px;
}

ol#posts-list header h4, .search-article-title h4 {
    border-bottom: 1px dotted #E3DEEF;
}

.read-more {
    font-size: 0.8rem;
    float: right;
    margin-right: 15px;
}

.recent-post-list {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
}

.recent-posts-article {
    border-bottom: 1px dotted #E3DEEF;
    overflow: auto;
    padding: 0.3rem 0.2rem;
}

.featured_article_content {
    font-size: 1.2em;
}

.recent-posts-article .post_info {
    text-align: left;
}

.recent-posts-article h5 {
    font-size: 1.2rem;
}

.recent-posts-article a {
    color: #533979;
}

.recent-posts p {
    font-size: 1.0rem;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.recent-posts-content, .search-content {
    border-bottom: 2px solid #E3DEEF;
}

.recent-posts-content a {
    color: #8956bf;
}

/* Neighbors */
ul.neighbors {
    padding-left: 0;
}

ul.neighbors .previous-article,
ul.neighbors .next-article {
    list-style: none;
    margin-left: 0;
}

/* Table style including GitHub code rendering */
table {
    width: 100%;
    margin-bottom: 10px;
}

table.code-highlighttable tr td:first-child {
    width: 4rem;
}

table.code-highlighttable tr td:first-child pre {
    background-color: #2f1e2e;
    text-align: end;
    color: darkgrey;
}

/* Archives */
.archive-article-list .list-group-item {
    border-bottom: 1px dotted grey;
    border-top: none;
    border-left: none;
    border-right: none;
}

.archive-article-list .list-group-item .archive-article-title {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Palatino, URW Palladio L, serif;

}

.archive-article-list .list-group-item time {
    font-weight: normal;
    font-family: PT Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--mutedTextColor);
    font-size: 0.9rem;
}

.archive-article-list .list-group-item .archive-post-summary {
    font-family: Optima, sans-serif;
}

/* Social links in footer */
#social-link {
    height: 30px;
    filter: grayscale(100%);
}

#feed-link {
    padding-left: 5px;
}
